.headerStyle{
    height: 830px;
    background: url('./img/night.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    overflow: hidden;
}

.test{
    height: 1000px;
    width: 100%;
    background-color: black;
}

.hidden{
    opacity: 0;
}