.myName{
    position: absolute;
    top:30%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size:3em;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: all .5s ease-in-out;
}

.hidden {
    opacity: 0;
}

@media (max-width: 960px){
    .myName{
        font-size: 2.4em;
        white-space: nowrap;
    }
}

@media (max-width: 760px){
    .myName{
        font-size: 2em;
        white-space: nowrap;
    }
}

@media (max-width: 650px){
    .myName{
        font-size: 1.8em;
        white-space: nowrap;
    }
}

@media (max-width: 450px){
    .myName{
        font-size: 1.5em;
        white-space: nowrap;
        top: 33%;
    }
}